<div class="container">
  <div id="<%= dom_id pet %>">
    <p>
      <strong>Name:</strong>
      <%= pet.name %>
    </p>

    <p>
      <strong>Specie:</strong>
      <%= pet.specie %>
    </p>

    <p>
      <strong>Weight:</strong>
      <%= pet.weight %>
    </p>

    <p>
      <strong>Height:</strong>
      <%= pet.height %>
    </p>

    <p>
      Creado el: <%= pet.created_at.strftime("%d-%m-%Y")%>
    </p>
  </div>
</div>
